<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="SeqAppender" type="Seq.Client.Log4Net.SeqAppender, Seq.Client.Log4Net" >
			<serverUrl value="http://localhost:5341" />
			<apiKey value="" />
		</appender>
		<appender name="SeqAsyncForwarder" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
			<appender-ref ref="SeqAppender" />
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="SeqAsyncForwarder" />
		</root>
	</log4net>
</configuration>